/* typography */
@import url('https://fonts.googleapis.com/css2?@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');family=Montserrat&display=swap');


:root {
    --primary-color: #7c3aed;
    --off-white: #f3f4f6;
    --dark-grey: #6b7280;
}


/* for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* style the body */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    max-width: 60%;
    width: 100%;
}


/* nav-bar */
nav{
    display: flex;
    flex-direction: column;
}

.navigation {
    background-color: var(--off-white);
    color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: medium;
    margin-right: auto;
}

.navigation .nav-pills {
    margin-left: auto;
    margin-top: 1rem;
    display: flex;
}

.navigation .link {
    color: var(--primary-color);
}

.navigation .link-active {
    font-weight: bold;
}


/* link */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* Look into BEM naming convention */

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}


/* header */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
}

.hero .hero-image {
    max-width: 80%;
    width: 550px;
}

.hero-heading {
    padding: 1.5rem 0 1rem 0;
    color: var(--dark-grey);
}

.hero-paragraph {
    text-align:left;
}

.hero-inverted {
    color: var(--primary-color);
}

.link-hero {
    text-decoration: none;
    color: #7c3aed;
}


/* container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
}

.container-paragraph {
    margin: 0.5rem 0;
}

/* section */
.section {
    font-family: "Montserrat", sans-serif;
    padding: 2rem;
    border-radius: 1rem;
}

.ow {
    background-color: var(--off-white);
}


/* footer */
.footer {
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    margin-top: 0.5rem;
}

.footer ul li {
    margin: -0.7rem;
}
.footer .link {
    color: white;
}

.copyright {
    font-size: small;
    margin-top: 1.5rem;
}

/* media queries */
@media only screen and (max-width: 550px) {
    body {
        max-width: 100%;
        width: 100%;
    }
    .navigation .nav-pills {
        /* flex-direction: column; */
        margin-left: auto;
    }

    .navigation .nav-pills li {
        margin: 0.2rem;
    }

    .hero-paragraph {
        margin: 0 0.2rem;
        text-align: center;
    }

}